.text-container{
    height: 340px;
    background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1b), to(#0d0d0d), color-stop(0.75, #0d0d0d));
}
.text-container p{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    color: wheat;
}