.watched-movies-container{
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 70%;
  margin: auto;
  background: #212121;
}
.watched-movie{
    flex: 1 1 calc(20% - 8px);
    margin: 2px;
    flex-grow: 0;
}

.movie-poster{
    height: 198px;
}

.movie-poster img{
    object-fit: fill;
    max-height: 100%;
    max-width: 100%;  
    cursor: pointer;
}
