.search-container{
    width: 70%;
}
.search-container input[type=text]{
    display: block;
    margin: 0 48%;
    height: 65px;
    transition: width 0.4s ease-out;
    width: 322px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #0d0d0d;
    background-position: 0px 7px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    background-image: url('../../assets/searchIcon.png');
    padding: 12px 45px 12px 55px;
    background-size: 50px 50px;
    border-radius: 3%;
    color: white;
}
.search-container input[type=text]:focus{
    width: 52%;
}
