.header{
    display: flex;
    justify-content: space-between;
    background: #212121;
    color: white;
    height: 60px;
}
.footer{
    background: #212121;
    height: 262px;
}
.footer h2{
    margin: 0 15%;
    text-align: left;
    color: wheat;
}